@media screen and (max-width:200px) {
  .container{
    width: 83% !important;
  height: 235px  !important;
  }
}
@media screen and (max-width:300px) {
.container{
  width: 83% !important;
height: 235px !important;
}
h2{
  font-size: 20px !important;
}
span{
  font-size: 13px !important;
}
header{
  text-align: center !important;
}
#input{
  width: 95% !important;
}
.button{
  width: 100% !important;
}
}
@media screen and (max-width:350px) {
  .container{
    width:75%  !important;
    height: 250px !important;
  }
  h2{
    font-size: 20px !important;
  }
  span {
    font-size: 14px !important;
  }
  
}
@media screen and (max-width:400px){
  .container{
    width:75% !important;
    height: 250px !important;
  }
  h2{
    font-size: 25px !important;
  }
  span {
    font-size: 1rem !important;
  }
}



body {
  background-color: #24aeea;
  display: flex !important;
  justify-content: center;
  align-items: center !important;
  min-height: 100vh;
  font-family: sans-serif;
  /* height: 100%; */
}
header{

    text-align: left;
}
h2{
    font-size: 25px;
}
.container {
  /* display: flex; */
  width: 25%;
  
  /* margin: 50px auto; */
  text-align: center;
  border-radius: 10px;
  background-color: white;
  height: 240px;
  transition: height 0.5s ease;
  padding: 10px 25px
}
.container.active {
  height: 470px;
}

.button {
  width: 90%;
  background-color: #3498db;
  border-radius: 5px;
  color: white;
  font-size: 1rem;
  height: 40px;
  border: none;
}
#input {
  width: 83%;
  font-size: 1rem;
  height: 30px;
  padding: 5px 10px;
  /* margin: 10px; */
  
  border-radius: 5px;
  display: block;
  margin: 5px auto;
  margin-top: 20px;
  border: 1px solid rgb(162, 159, 159);

  
}
span {
  font-size: 1rem;
  color: gray;
}
#img {
  width: 60%;
  vertical-align: middle;
}
.qr-code {
  /* border: 1px solid rgb(162, 159, 159); */
  /* border-style: inset; */
  box-shadow: 1px 1px 2px;
  padding: 25px 0px;
  width: 90%;
  display: block;
  margin: 15px auto;
  /* margin: 15px 10px; */
  opacity: 0;
  pointer-events: none;
}
.container.active .qr-code {
  opacity: 1;
  pointer-events: auto;
  transition: all 0.5s 0.05s ease;
}
